body {
    margin: 0;
}

.line {
    width: 100%;
    height: 8px;
    background-color: #9999cc;
}

.heder {
    width: 1020px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    color: #999999;
}

.buttons {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons-items {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.button-img {
    margin-right: 10px;
}

.slider {
    width: 1020px;
    height: 485px;
    margin: 0 auto;
    background: url('../images/fon.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color: wheat;
}

.sl-button {
    width: 35px;
    height: 65px;
    background: #996699;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% - 32.5px);
}

.button-left {
    left: 0;
}

.button-right {
    right: 0;
    transform: rotate(180deg);
}

.slider-title {
    font-size: 84px;
    margin-bottom: 22px;
    text-shadow: -4px 4px 0 #333333;
}